/*
Arc-Dark Color Scheme
*/

@define-color selectionBackground #374151;

@define-color background #111827;
@define-color foreground #D1D5DB;

@define-color black #6B7280;
@define-color red #FCA5A5;
@define-color green #B1E3AD;
@define-color orange #FBC19D;
@define-color blue #BAE6FD;
@define-color purple #DDD6FE;
@define-color cyan #BAE6FD;
@define-color white #D1D5DB;

*{
    font-family: JetBrainsMono;
}

#window {
    height: 100%;
    border: 2px solid @background;
    border-radius: 18px;
    background-color: @background;
    padding: 5px;
}

/* #inner-box {
    padding:5px;
} */

#outer-box {
    margin: 5px;
    padding:5px;
    margin-top: -28px;
}

#text {
    padding: 5px;
}

#entry {
    color: @blue;
}

#entry:selected {
    color: black;
    background-color: @selectionBackground;
    border-radius: 10px;
}
