/*
Arc-Dark Color Scheme
*/

@define-color selectionBackground #374151;

@define-color background #111827;
@define-color foreground #D1D5DB;

@define-color black #6B7280;
@define-color red #FCA5A5;
@define-color green #B1E3AD;
@define-color orange #FBC19D;
@define-color blue #BAE6FD;
@define-color purple #DDD6FE;
@define-color cyan #BAE6FD;
@define-color white #D1D5DB;

*{
    font-family: "JetBrains Mono";
}

window {
    border-radius: 18px;
    color: @blue;
    position: relative;
    padding: 1px;
    background: @selectionBackground;
}

#input {
    margin-bottom: 15px;
    padding:3px;
    border-radius: 5px;
    border:none;
    outline:none;
    /* color: white; */
    background-color: @background;
}

#input:focus {
    border:none;
    outline:none;
}

#inner-box {
    background: transparent;
}

#outer-box {
    margin: 3px;
    border-color: @blue;
    padding:15px;
    background-color: @background;
    border-radius: 18px;
}

#text {
    padding: 7px;
}

/* #entry:nth-child(even) { */
/*     background-color: @base1; */
/* } */

#entry:selected {
    background-color: @selectionBackground;
    border-radius: 5px;
    border:none;
    outline:none;
}
